body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav a {
margin-right: 20px; /* Adjust the value to your preference */
}

/* section, p, h1{
    color: red;
} */

main article{
    color: red;
}


/* id */
#about {
    background-color: aqua;
}


/* class */
.projects{
    font-weight: bolder;
    color: darkblue;
}
