.video-container {
    position: relative;
    width: 90%; 
    padding-top: 56.25%; /* Percentage ratio for 16:9 videos */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* class */
.projects{
    font-weight: bolder;
    color: darkblue;
}


/*card*/

/* #comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #fff7f7;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1.25rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    width: 25%;
    text-align: center;
}

#name-card-header{
    color: crimson;
    margin-left: 2rem;
    border-radius: 1rem 1rem 0 0;
    margin-bottom: 2rem;
    font-size: 2rem;
}

#email-card-header{
    color: #333;
    margin-left: 2rem;
    font-size: 1.5rem;
    font-style: italic;
}

.card-body{
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
} */

/*end card*/


/*card with bootstrap*/
.section{
    padding: 1rem;
}

div.card-header{
    background-color: #efe1f0;
}

.section-title{
    width: 100%;
    color: crimson;
    text-align: center;
    margin-bottom: 1rem;
}


body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-size: 1.375rem;
    width: 100%;
}

article {
    display: flex;
    align-items: center;
    gap: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

#description {
    flex: 1;
}

#about_me {
    background-color: aqua;
}

