.video-container {
    position: relative;
    width: 90%; 
    padding-top: 56.25%; /* Percentage ratio for 16:9 videos */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




.projects{
    font-weight: bolder;
    color: darkblue;
}

#project-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: stretch;
}


/* Every <a> inside the component with id="project-cards" */
#project-cards a{
    text-decoration: none;
    color: inherit;
}


/*card*/

#comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card, .project-card{
    display: flex;
    flex-direction: column;
    background-color: #d3ecd0;
    border-radius: 0.25rem;
    padding: 0rem;
    margin-bottom: 1.25rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    width: 25%;
    text-align: center;
    border-radius: 1rem 1rem 1rem 1rem;    
}

.project-card{
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    min-height: 40rem;
}

.project-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
}


.name-card-header{
    color: crimson;
    margin-left: 0rem;
    border-radius: 1rem 1rem 0 0;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.email-card-header{
    color: #4b4949;
    margin-left: 0rem;
    font-size: 1.5rem;
    font-style: italic;
}

.card-header{
    background-color: #d2d2fa;
    min-height: 22rem;
}

.card-body{
    padding: 1rem;
    /* border-radius: 0 0 1rem 1rem; */
    background-color: #d3ecd0;

}


.card-subtitle, .project-keywords{
    color: blue;
    font-size: 1.25rem;
    font-style: italic;
}

.project-tools{
    color: rgb(128, 0, 36);
    font-size: 1.25rem;
    font-style: italic;
}

.project-description{
    /* justify text */
    text-align: justify;
}

/*end card*/



.section-title{
    width: 100%;
    color: green;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}


body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 2rem;
    font-size: 1.375rem;
    max-width: 100%;
}

article {
    display: flex;
    align-items: center;
    gap: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

figcaption{
    color: darkblue;
}

#description {
    flex: 1;
}

#about_me {
    background-color: aqua;
}

